// *** PROFILE
.profile {
  display: flex;
  gap: 3rem;
  margin-bottom: 4.8rem;

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 7.1rem;

    img {
      border-radius: 50%;

      // remove later
      width: 15rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 0.5rem;
  }

  &__username {
    font-size: 2.8rem;
    font-weight: 300;
  }

  &__data {
    font-size: 1.6rem;
    display: flex;
    gap: 4rem;

    p span {
      font-weight: 700;
    }
  }

  &__bio {
    h1 {
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 0.3rem;
    }

    p {
      font-size: 1.6rem;
      line-height: 1.5;
      font-weight: 400;
    }
  }
}

// *** POSTS
.posts {
  border-top: 1px solid $border-color;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2.8rem;
  padding-top: 2.8rem;
}

.post {
  img {
    width: 29rem;
    height: 29rem;
    object-fit: cover;
    cursor: pointer;
    filter: brightness(1);
    transition: filter 0.2s ;
  }

  img:hover {
    filter: brightness(0.8);
  }
}
